@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;700&display=swap");
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body{
 font-family:"Inter Tight", sans-serif"
}

.hero__content{
  padding:119px 0;
}

.proactive {
  font-weight:500;
  font-size:72px;
  color:#ffffff;
}

.btn-get-extension{
  background:linear-gradient(90deg, #128071 0%, #13d4a3 100%);
  border-radius:8px;
  display:inline;
  justify-content:center;
  align-items:center;
  font-size:16px;
  font-weight:600;
  padding:8px 24px;
  line-height:24px;
}

.hero-multiLayer-title {
  font-weight:500;
  font-size:48px;
  color:#ffffff;
  line-height:56px;
  padding:80px
}

#guardian-section-1{
  background-image:url("../images/transparent.png");
  background-size:cover;
  background-repeat:no-repeat;
  padding:80px;
}

#guardian-section-2{
  background-image:url("../images/transparent.png");
  background-size:cover;
  background-repeat:no-repeat;
  padding:80px 146px 160px;
}

.guardian-section-5 {
  width: 100%;
  height: auto;
  background-image: url("../images/partner-background.jpg");
}

#text-guardian-5 {
  font-family:"Inter Tight", sans-serif;
  font-weight:500;
  font-size:48px;
  line-height:56px;
  color:#F3F5F5;
}

#cyberg-team-widget-18{
  flex:1;
}

/* #guardian__grid__auto {
  width:100%;
  height:auto;
  gap:80px;
} */

.guardian__item {
  display: flex;
  flex-direction:row;
}

.header__toggle {
  cursor: pointer;
}

.nav-open {
  display: inline;
}

.nav-close {
  display: none;
}

.nav-menu {
  margin-left: 5%;
}

.item {
  width:44%;
  height:auto;
  border:1px solid rgba(255, 255, 255, 0.25);
  padding:12px
}

.guardian__item > .item:nth-of-type(1){
  border-radius:16px;
  border-top-left-radius:16px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-top-right-radius:0;
}

.guardian__item > .item:nth-of-type(2){
  border-top-right-radius:16px;
}

#ethereum{
  border-top-left-radius: 0;
  border-bottom-left-radius: 16px;
}

#solana{
  border-top-right-radius:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:16px;
}

#guardian__item__partner {
  margin-top:-6%;
}

.img-solana {
  margin-top:4px;
}

.img-bnb{
  margin-top:4px;
}

.available-networks{
  font-size:48px;
  font-weight:500;
  line-height:56px;
}

.logo-grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1rem;
  padding:1rem;
}

.logo-item {
  display:flex;
  justify-content:center;
  align-items:center;
  padding:1rem;
  /* border-radius:16px; */
  margin-left:-18px;
  margin-top:-18px;
  border:1px solid #ffffff;
}

.image-detection-1 .image-detection-1-left{
  position:relative;
}


.logo-item img {
  max-width:100px; /* Adjust as needed */
  height:auto;
}

.report{
  display:flex;
  flex-direction:row;
}

.image-detection-1 > .logo-unisec{
  position:absolute;
  top:12px;
  left:520px;
}

.hero-web3 {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:80px;
  background-image:url("https://s3-alpha-sig.figma.com/img/14d8/249e/1bfa4d201795e60edec23d447b72350c?Expires=1725235200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pJyGV66jah8kbWP4AbuokqeuCwsNsoS8ZrQ-7KUNE-CoNrtocXUFtHUgzLLwPmaPHqLZgsvdPLtZPcGzjtc-fTIL84k30qcz-6jReAU1kTrtmXL15fEw6i6I4-l68BjFWiy8zqfZ58mtLQhNBe1O7~ljvmGeKT9qObu~pg0y85EhQ0Hqv3Ed6SnhsupC02qxqVF9X6WOgqPZJIFF~LaiFSGB15SrMzHtoZsr5OvM3pq7UWt7hFIci8PzDD~fBwVgS9v0KYkO20o1fpv~cC1Gt7wXkdZT7VFnZgB0dpAOOi0Vodo2evQaylHGk-E03A3VC4YW2KMVdHNrf5uUJl1C6w__");
  background-repeat:no-repeat;
  background-size:cover;
  margin:0 auto;
}

.hero-web3 > h2 {
  text-align: center;
  padding: 16px;
  font-size: 48px;
  font-weight: 500;
}

.hero-web3 > p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #CBCBCB;
}

.icon-group {
  padding: 40px;
}

.icon-group > p {
  font-size:32px;
  font-weight:500;
}


.img-icon-1 {
  margin-left: 25%;
}

.icon-group-inline {
  display: flex;
}

.text-extension {
  font-size:18px;
  font-weight:400;
  color:#CBCBCB;
}

.wrapper-tracking {
  position:relative;
  display:inline-flex;
  border-radius:15px;
  overflow:hidden;
  width:auto;
  margin-left:90px;
  height:auto;
}

.wrapper-tracking::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:24px; /* Same radius as the wrapper */
  margin:16px;
  padding:3px; /* Thickness of the border */
  background:linear-gradient(45deg, #08D080, #3B65D1, #F8BF96); /* Gradient border */
  -webkit-mask:linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out; mask-composite: exclude;
  z-index:1; /* Position it above the image */
}

.wrapper-tracking img {
  display:block;
  border-radius:15px; /* Match border radius */
  z-index:2;
  position:relative;
  padding:48px;
}

.wallet-tracking > h2 {
  font-size:48px;
  font-weight:500;
  line-height:56px;
  padding:12px;
}

.wallet-tracking-title {
  padding-top:21px;
}

.wallet-tracking-title>h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  padding: 12px;
}

.wallet-tracking-title > p {
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
}

.wallet-title{
  display:inline;
  font-size:14px;
  font-weight:600;
  width:-moz-max-content;
  width:max-content;
  height:auto;
  border:1px solid #08d080;
  border-radius:999px;
  color:#08d080;
  padding:4px 12px;
  margin:0;
  text-transform:uppercase;
  background:rgba(8, 208, 128, 0.05);
}

.btn-view-api-document{
  margin-left:10px;
  background:linear-gradient(90deg, #128071 100%, #13D4A3 100%);
  border-radius:8px;
}

/* .image-detection-1{
  position:relative;
  display: flex;
  justify-content: space-between;
  background-image:url("../images/rope.png");
  background-repeat:no-repeat;
  background-position:center;
} */

.image-detection-1 .image-detection-1-right{
   position:relative;
}

.image-detection-1 > img{
   margin:0 auto;
}

.image-detection-logo{
  margin-left:512px;
  margin-top:-254px;
}

.text-dectection-1{
  position:absolute;
  height:48px;
  top:-25px;
  background:linear-gradient(to right, #AE1CF2) 15% !important;
  border:1px solid #AE1CF2;
  border-radius:296.8px;
  left:-33px;
  padding:8px 16px 8px 16px; 
}

.text-dectection-1 > p{
  font-weight:600;
  font-size:24px;
  color:#AE1CF2;
  letter-spacing:2px;
  line-height:32px;
  margin-left:13px;
  white-space:nowrap;
}

.text-dectection-2{
  width:288px;
  height:48px;
  border:1px solid #E3834D;
  background:linear-gradient(to right, #E3834D) 15% !important;
  border-radius:999px;
  position:absolute;
  top:96px;
  left:-47px;
}

.text-dectection-3{
  width:111px;
  height:48px;
  border:1px solid #3AA1EB;
  background:linear-gradient(to right #3AA1EB) 15% !important;
  border-radius:999px;
  position:absolute;
  top:213px;
  left:164px;
}

.text-dectection-3 > p{
  font-weight:600;
  font-size:24px;
  color:#3AA1EB;
  text-align:center;
  margin-top:12px;
}


.text-dectection-2 > p {
  font-weight:600;
  font-size:24px;
  color:#E3834D;
  letter-spacing:2px;
  line-height:32px;
  margin-top:8px;
  margin-left:13px;
  text-align:center
}

.unisec-diagram{
  padding:80px 0;
}

.text-dectection-4{
   position:absolute;
   right:118px;
   height:48px;
   border:1px solid #FDDC2E;
   background:linear-gradient(to right #FDDC2E) 15% !important;
   border-radius:999px;
   white-space:nowrap;
   top:-24px;
   right:135px !important;
}

.text-dectection-4 > p {
  font-weight:600;
  font-size:24px;
  color:#FDDC2E;
  letter-spacing:2px;
  line-height:32px;
  margin-top:8px;
  margin-left:13px;
  text-align:center
}

.text-dectection-5{
  width:178px;
  height:48px;
  border:1px solid #7063FF;
  background:linear-gradient(to right #7063FF) 15% !important;
  border-radius:999px;
  position:absolute;
  top:95px;
  right:63px
}

.text-dectection-5 > p {
  font-weight:600;
  font-size:24px;
  color:#7063FF;
  letter-spacing:2px;
  line-height:32px;
  margin-top:8px;
  margin-left:13px;
  text-align:center
}

.text-dectection-6{
  width:255px;
  height:48px;
  border:1px solid #08D080;
  background:linear-gradient(to right, #08D080) 15% !important;
  border-radius:999px;
  position:absolute;
  top:216px;
  left:36px;
  white-space:nowrap;
}

.text-dectection-6 > p {
  font-weight:600;
  font-size:24px;
  color:#08D080;
  letter-spacing:2px;
  line-height:32px;
  margin-top:8px;
  margin-left:13px;
  text-align:center
}

#get-monitoring-get-extension{
  padding:24px;
}

#guardian-section-3{
  height:unset;
}

.risk{
  margin:10px;
  padding:5px;
}

.footer-text{
  font-weight:400;
  font-size:14px;
}

.unisec{
  margin-left:99px !important;
}

#footer-right{
  margin-top:29px;
}

.footer__menu-container{
  margin-left:-509px;
}

/* .btn-footer-get-extension{
  margin-top:-10px;
} */

.btn-wallet-tracking{
  background:linear-gradient(90deg, #128071 100%, #13D4A3 100%);
  border-radius:8px;
}

#guardian-section-2 .risk h2{

  font-size:24px;
  font-family:"Inter Tight", sans-serif;
  line-height:32px;
  font-weight:500;
}

#guardian-section-2  .order-section-1 .risk {
  text-align:right;
}


#guardian-section-3{
  background-image:url("../images/bg.png");
  background-repeat:no-repeat;
  background-size:cover;
  padding:120px;
}
#guardian-section-3 .guardin__container{
  max-width: 960px;
  margin: 0 auto;
}
.hero-web4{
  display:flex;
  flex-direction:column;
  align-items:center;
  max-width:100%;
  padding:80px;
  background-image:url("../images/bg.png");
  background-repeat:no-repeat;
  background-size:cover;
  margin:0 auto;
}

.hero-web4 > h2{
  font-size:48px;
}

.unisec-padding{
  padding:80px 0;
}

#guardian-section-1 .guardian__container .image-detection-1 .image-detection-1-left .text-dectection-1 {
  top:-27px;
  background:linear-gradient(to right, #ae1cf2) 5% !important;
  border:1px solid #ae1cf2;
  border-radius:296.8px;
  left:23px !important
}

.logo-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  border:1px solid #ffffff;
  border-radius:16px;
}

.logo > img{
  margin:0 auto;
}

.logo-bnb{
  width:50%;
  box-sizing:border-box;
  padding:44px;
  border-bottom:1px solid;
  border-right:1px solid;
}

.logo-tron{
  width:50%;
  box-sizing:border-box;
  padding:44px;
  border-bottom:1px solid;
}

.logo-ethereum{
  width:50%;
  box-sizing:border-box;
  padding:44px;
  border-right:1px solid;
}

.logo-solana{
  margin:0 auto;
  width:50%;
  box-sizing:border-box;
  padding:44px;
}

#cyberg-team-widget-19{
  width:552px;
}

@media screen and (max-width: 576px){
  .header__toggle .nav-close {
    display:none;
    /* position:absolute;
    left:342px;
    top:16px; */
  }

  /* .header__toggle .nav-open {
    display:block;
    position:absolute;
    left:342px;
    top:16px;
  } */

  .hero-web3 > h2 {
    line-height:56px;
    font-size:23px
  }

  .icon-group-inline {
    display:flex;
    flex-direction:column;
  }

  .img-icon-1 {
    margin:0 auto;
  }

  .icon-group > p {
    white-space:nowrap;
    font-size:24px;
  }

  #guardian__item__partner{
    margin-top:32.5px;
  }

  #text-guardian-5{
    font-size:32px;
    text-align:center;
  }

  .responsive {
    margin-left: 15%;
  }

  p.monitoring {
    margin-left: 23%;
  }

  p.security-api {
    margin-left: 16%;
  }

  .hero-web3 {
    background-size:cover;
    height:auto;
    width:337px;
    border-radius:16px;
  }

  .wallet-tracking {
    flex-direction:column;
    margin-left:48px;
  }
 
  .wallet-tracking > img{
    width:80%;
  }

  .wallet-tracking-title > h2 {
    font-family:"Inter Tight", sans-serif;
    font-size:21px;
    font-weight:500;
    line-height:56px;
    white-space:nowrap;
  }

  .wallet-tracking-title > p{
    font-family:"Inter Tight", sans-serif;
    font-size:14px;
    font-weight:400;
    margin-top:-30px;
  }

  .btn-get-extension{
    white-space:nowrap;
    width:100% !important;
  }

  .btn-view-api-document {
    white-space:nowrap;
    margin-left:-152px;
    min-width:85vw;
  }
   
   .unisec{
     flex-direction:column;
     margin-left:-5px !important;
     padding:12px !important;
   }

   .btn-footer-get-extension{
      margin-top:0;
   }

   .footer__heading-text{
     padding:16px;
   }

   .footer{
     background-image:none;
   }

   .unisec > li {
     padding:12px;
   }

   .footer__copyright{
     padding:31px;
   }

   .header__menu > ul{
     flex-direction:column;
   }

   .hero-multiLayer-title{
     font-size:32px;
     line-height:38px;
     padding:18px;
     position:absolute;
     top:-94px;
   }

   .image-detection-1 > .left{
     background-image:url("../images/rope.png");
     background-repeat:no-repeat;
     background-position:center;
   }

   /* .wallet-tracking-title{
      margin-left:100px;
      margin-top:0;
   } */

   /* .wallet-title{
     margin-left:-7rem;
   } */

   .btn-wallet-tracking{
     margin-left:-167px;
     min-width:85vw;
   }

   #guardian__item__partner {
     margin-top:-33px;
  }

  #guardian__grid__auto {
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
  }

  .logo-bnb{
    width:100%;
    border-right:none;
  }

  .logo-tron{
    width:100%;
  }

  .logo-ethereum{
    width:100%;
    border-bottom:1px solid;
  }

  .logo-solana{
    width:100%;
  }

  #cyberg-team-widget-19 {
    width:100%;
  }

  .item{
    width:75%;
  }

  .guardian__item {
    display:flex;
    flex-direction:column;
  }

  .wrapper-tracking{
    margin-left:5px;
  }

  .order-section-1{
    order:3;
  }

  .order-section-1 > .risk > h2{
    text-align:left;
  }

  .order-section-1 > .risk > p{
    text-align:left;
  }

  .order-section-2{
    order:1;
  }
  .order-section-3{
    order:2;
  }

  .image-detection-1 > .left > img {
    margin-left:25px;
    width:50%;
  }

  .image-detection-1{
    background-size:80%;
  }

  .guardian__item > .item:nth-of-type(1) {
    border-top-right-radius:16px;
    border-top-left-radius:16px;
  }

  .guardian__item > .item:nth-of-type(2) {
    border-top-right-radius:0;
  }

  #ethereum{
    border-bottom-left-radius:0;
    border-top-right-radius:0;
  }

  #solana{
    border-bottom-left-radius:16px;
  }

  .hero__content{
    padding:24px 16px 24px 16px;
    margin-left:-11px;
  }

  .hero__content-heading > span:nth-of-type(1){
    display:flex;
    justify-content:flex-start;
    white-space:nowrap;
  }

  .hero__content-heading > span:nth-of-type(2){
    margin-left:-0.8rem;
  }

  .hero__content-desc{
    padding:12px;
    padding-right:43px;
  }

  .hero__content-heading{
    padding:12px 0;
  }

  .hero-web4 > h2{
    text-align:center;
    font-size:32px;
    line-height:40px;
  }

  .hero-web4 > p{
    text-align:center;
    font-size:14px;
    line-height:20px;
  }

  .footer__menu-container {
    display:flex;
    justify-content:flex-start;
    margin:10px;
  }

  
  #guardian-section-1 .guardian__container .image-detection-1 .image-detection-1-left .text-dectection-1 {
    top:-3px !important;
    left:-10px !important;
  }

  #guardian-section-1 .guardian__container .image-detection-1 .image-detection-1-left .text-dectection-2 {
    border:1px solid #e3834d;
    top:33px;
    left:17px !important;
  }

  #guardian-section-1 .guardian__container .image-detection-1 .image-detection-1-left .text-dectection-3 {
    left:66px !important;
    top:71px !important;
  }

  .image-detection-1-right > .text-dectection-4.txt-mobile{
    top:-3px;
    left:3px;
  }

  .image-detection-1-right > .text-dectection-5.txt-mobile{
    top:34px;
    left:3px;
  }

  .image-detection-1-right > .text-dectection-6.txt-mobile{
    top:72px;
    left:2px;
  }

  .hero-web4 .icon-group-inline .icon-group img {
    margin:0 auto !important;
  }

  .hero__image .hero__image-card-1{
    bottom:70px !important;
  }

  .unisec-padding{
    padding:0;
  }

  #guardian-section-2{
    padding:64px 16px;
  }

  #guardian-section-3{
    padding:50px 16px;
  }
}